body{
    background-image: url(../imagem/velhos.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: rgba(0, 0, 0, 0.568);
    font-family: poppinsregular;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
   
}
.linha{
    margin-right: 500px;
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
}

#linha_caderneta{
    font-size: 200px;
    color: rgba(88, 82, 255, 0.664);
}

#do-idoso{
    font-size: 200px;
    text-align: right;
    color: rgba(0, 0, 0, 0.568);
}

header{
    color: black;
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
     align-items: center;
}

.campos-login{
    margin: 0px 0px 0px 0px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(0, 0, 0);

    
}

a:hover{
    color: white;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgba(88, 82, 255, 0.664);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgba(88, 82, 255);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgba(88, 82, 255);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.velhos{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 700px;
    font-weight: right;
  
}

#input:hover{

    color: rgb(0, 0, 0);

    transition: 0.3s all;

}

#input:hover{

    background-color: rgb(88, 82, 255);

    color: rgb(255, 255, 255);  

}

#campo button{
    height: 50px;
    width: 20%;
    background-color: rgba(88, 82, 255);
    color: white;
    font-weight: bold;


   
}
    
#campo2{
    font-size: 45px;
    width: 10%;
    height: 20px;
    display: flex;
    flex-direction: column;
   
}

#titulo{

    margin-top: 10%;

    text-align: center;

}




.grid-container{

    display: grid;

    grid-template-columns: 50% 50%;

}



#botaoCadastrarCuidador{

    grid-column-start: 1;

    grid-column-end: 1;

    margin: 10%;

    padding: 10%;

    font-size: 50px;

    border-radius: 15px;

}



#botaoCadastrarIdoso{

    grid-column-start: 2;

    grid-column-end: 2;

    margin: 10%;

    padding: 10%;

    font-size: 50px;

    border-radius: 15px;

}
