<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Landing Page</title>
</head>

<h2>Formulario</h2>
<main class="container">
    <form action="">
        <div class="input-field">



            <input type="text" name="cidadeDeNascimento" id="cidade De Nascimento"



                placeholder="cidade De Nascimento">



            <div class="underline"></div>

            
            <input type="text" name="moradia" id="moradia"



                placeholder="Casa/Apartamento?">



            <div class="underline"></div>

            
            <input type="text" name="racaCor" id="racaCor"



                placeholder="Raça/Cor">



            <div class="underline"></div>

                        <input type="text" name="cartaoSus" id="cartaoSus"



                placeholder="Cartão SUS">



            <div class="underline"></div>

            <div class="input-field">



                <input type="text" name="pai" id="pai"
    
    
    
                    placeholder="Nome do Pai">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="mae" id="mae"
    
    
    
                    placeholder="Nome da Mãe">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>
            
            <div class="input-field">



                <input type="text" name="sabeLerEscrever" id="sabeLerEscrever"
    
    
    
                    placeholder="Saber Ler/Escrever?">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="escolaridade" id="escolaridade"
    
    
    
                    placeholder="Nível de Escolaridade">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="rua" id="rua"
    
    
    
                    placeholder="Endereço">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="cidade" id="cidade"
    
    
    
                    placeholder="Cidade">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="bairro" id="bairro"
    
    
    
                    placeholder="Bairro">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="numero" id="numero"
    
    
    
                    placeholder="Número da Casa">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="cep" id="cep"
    
    
    
                    placeholder="CEP">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="municipio" id="municipio"
    
    
    
                    placeholder="Municipio">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="estado" id="estado"
    
    
    
                    placeholder="Estado">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="complemento" id="complemento"
    
    
    
                    placeholder="Ponto de Referência">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="telefone" id="telefone"
    
    
    
                    placeholder="Telefone/Celular">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="email" id="email"
    
    
    
                    placeholder="email">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="estacaoConjugal" id="estacaoConjugal"
    
    
    
                    placeholder="Estação Conjugal">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="profissao" id="profissao"
    
    
    
                    placeholder="Profissão">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="convenio" id="convenio"
    
    
    
                    placeholder="Convênio">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="deficiencia" id="deficiencia"
    
    
    
                    placeholder="Alguma Deficiência?">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tipoSanguineo" id="tipoSanguineo"
    
    
    
                    placeholder="Tipo Sanguineo">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="fatorRh" id="fatorRh"
    
    
    
                    placeholder="Fator RH">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="nomeResponsavel" id="nomeResponsavel"
    
    
    
                    placeholder="Nome do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="vinculoResponsavel" id="vinculoResponsavel"
    
    
    
                    placeholder="Vinculo Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="telefoneResponsavel" id="telefoneResponsavel"
    
    
    
                    placeholder="Telefone do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="enderecoResponsavel" id="enderecoResponsavel"
    
    
    
                    placeholder="Endereço do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="moraResponsavel" id="moraResponsavel"
    
    
    
                    placeholder="Mora com o Responsável?">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div id="btnEnviar">
                <button type="submit"> Enviar</button>
            </div>
        </div>
       

        </div>