<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico" />
    <link rel="stylesheet" type="text/css" href="../css/style.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap"
        rel="stylesheet">
    <title>Landing Page</title>
</head>

<head>
    <meta charset="UTF-8">
    <title>Faça seu Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cadastro.css" />
</head>

<body>
    <header>
        <ul style="margin: auto; font-size: 25px;">
            <a href="/Templates/index.html">
                <li>Home</li>
            </a>
            <a href="/Templates/Sobre.html">
                <li>Sobre nós</li>
            </a>
            <a href="/Templates/Servicos.html">
                <li>Serviços</li>
            </a>
            <a href="/Templates/perguntas.html">
                <li>Perguntas Frenquentes</li>
            </a>
            <a href="/Templates/cadastro.html" id="inscreva-se-btn">
                <li>Cadastre-se</li>
            </a>

        </ul>
    </header>
    <h2 id="titulo">Cadastre-se</h2>
    <div class="grid-container">
        <button id="botaoCadastrarCuidador"><a href="cadastroCuidador.html">Cadastrar cuidador</a></button>
        <button id="botaoCadastrarIdoso"><a href="cadastroIdoso.html">Cadastrar idoso</a></button>
    </div>



    </form>


    </div>
    </main>
</body>

</html>