<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>

<h2>Formulario do Cuidador</h2>


<body>
                    <div class="input-box">
                        <label for="firstname">Primeiro Nome</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required>
                    </div>
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Confirme sua Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required>
                    </div>

                </div>

                <div class="gender-inputs">
                    <div class="gender-title">
                        <h6>Gênero</h6>
                    </div>

                    <div class="gender-group">
                        <div class="gender-input">
                            <input id="female" type="radio" name="gender">
                            <label for="female">Feminino</label>
                        </div>

                        <div class="gender-input">
                            <input id="male" type="radio" name="gender">
                            <label for="male">Masculino</label>
                        </div>

                        <div class="gender-input">
                            <input id="others" type="radio" name="gender">
                            <label for="others">Outros</label>
                        </div>

                        <div class="gender-input">
                            <input id="none" type="radio" name="gender">
                            <label for="none">Prefiro não dizer</label>
                        </div>
                        <label for="estadoCuidador">Estado:</label>
                        <select name="estados" id="estadoCuidador">
                            <option value="SaoPaulo">São Paulo</option>
                            <option value="MatroGrosso">Matro Grosso</option>
                            <option value="MinaGerais">MinaGerais</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Parana">Paraná</option>
                            <option value="Goias">Goiás</option>
                            <option value="Ceara">Ceará</option>
                            <option value="SantaCatarina">Santa Catarina</option>
                            <option value="RioGrandedoSul">Rio Grande do Sul</option>
                            <option value="RiodeJaneiro">Rio de Janeiro</option>
                            <option value="Pernanbuco">Pernanbuco</option>
                            <option value="Para">Pará</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="EspirituSanto">Espiritu Santo</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Rondonia">Rondônia</option>
                            <option value="Piaui">Piauí</option>
                            <option value="RioGrandedoNorte">Rio Grande do Norte</option>
                            <option value="Alagoas">Alagoas</option>
                        </select>
                
                        <label for="cidadeCuidador">Cidade:</label>
                        <input type="text" id="cidadeCuidador" name="cidade" required><br><br>
    
                        <label for="teleCuidador">Telefone:</label>
                        <input type="telephone" id="teleCuidador" name="telefone" placeholder="+55(11)XXXXX-XXXX" required><br><br>
                        <label for="emailCuidador">E-mail:</label>
                        <input type="email" id="emailCuidador" name="email" placeholder="exemplo@exemplo.com" required><br><br>
                        <label for="horasCuidador">Horários Disponiveis</label>
                        <input type="time" id="horasCuidador" name="horarios" placeholder="Formato 24hrs" required>
                        <input type="time" id="horasCuidador" name="horarios" placeholder="Formato 24hrs" required>
                        <input type="time" id="horasCuidador" name="horarios" placeholder="Formato 24hrs" required><br><br>
    
    
                        <h3>Enviar Currículo</h3>
                        <a href="#"><input type="file" accept=".doc,.docx,.pdf" placeholder="Escolher Ficheiro"></input></a><br><br>
                        <input type="checkbox" id="termos"><!--aqui vamos colocar uma caixinha para marcar-->
                        <label for="termos">concordo com a politica de privacidade</label><br><br>
                        <a href="#"><input type="submit" value="Salvar"></input></a>
                    </form>
                </fieldset>
            </div>
        </body>
    </html>
            </form>
        </div>
    </div>
</body>
  