<!DOCTYPE html>

<HTML lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <header>        
        <ul style="margin: auto; font-size: 25px;">
            <a href="/Templates/index.html"><li>Home</li></a>
            <a href="/Templates/Sobre.html"><li>Sobre nós</li></a>
            <a href="/Templates/Servicos.html"><li>Serviços</li></a>
            <a href="/Templates/perguntas.html"><li>Perguntas Frenquentes</li></a>
            <a href="/Templates/cadastro.html" id="inscreva-se-btn"><li>Cadastre-se</li></a>
            
            
        </ul>
    </header>
    <main>
        <fieldset style="background-color: rgb(255, 255, 255, 0.50); border:none; border-radius: 25px;">
            <aside>
                <h2><span>Entrar</span></h2>  
                <h2>na  </h2>
                <h2> Caderneta </h2>
                <p>
                    Login
                </p>
                <div class="campos-login">
                    <form>
                        <input type="text" placeholder="CPF">
                        <div class="input-field">



                            <input type="password" name="password" id="password"
            
            
            
                                placeholder="Digite sua Senha">
            
            
            
                            <div class="underline"></div>
                        <input type="submit" value="Entrar">
                        <a href="/Templates/cadastro.html" ><li>Cadastre-se</li></a>
                        
                    </form>
                </div>
            </aside>
        </fieldset>
        <fieldset class="linha">
            <div><p><h2 id="linha_caderneta">Caderneta</h2></p></div>
        <div><p><h2 id="do-idoso">do Idoso</h2></p></fieldset>
        </div>   
    </main>
</body>
</html>