<!DOCTYPE html>

<HTML lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/perguntas.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <title>Página Inicial</title>
</head>
<body>
  <header>        
    <ul id="ul-menu">
        <a href="/Templates/index.html"><li id="li-menu">Home</li></a>
        <a href="/Templates/Sobre.html"><li id="li-menu">Sobre nós</li></a>
        <a href="/Templates/Servicos.html"><li id="li-menu">Serviços</li></a>
        <a href="/Templates/perguntas.html"><li id="li-menu">Perguntas Frenquentes</li></a>
        
        <a href="cadastro.html" id="inscreva-se-btn"><li id="li-menu">Cadastre-se</li></a>
    </ul>
  </header>
  <fieldset id="corpo">
    <h1 id="perguntas">Perguntas Frequentes</h1>
    <div id="grid-container-texto">
      <div id="item-1" style="padding-right: 5%;">

        <h2>O que é um cuidador(a)?</h2>
        <p>
          A ocupação de cuidador integra a Classificação Brasileira de Ocupações 
          – CBO sob o código 5162, que define o cuidador como alguém que “cuida a 
          partir dos objetivos estabelecidos por instituições especializadas ou 
          responsáveis diretos, zelando pelo bem-estar, saúde, alimentação, higiene 
          pessoal, educação, cultura, recreação e lazer da pessoa assistida”. É um 
          indivíduo que presta cuidados à outra pessoa de qualquer idade, que esteja 
          necessitando de cuidados por estar acamada, com limitações físicas ou 
          mentais, com ou sem remuneração.
        </p>
        <h2>Se o paciente não se adaptar ao profissional, haverá troca?</h2>
        <p>
          Considerando a nossa relação de confiança, solicitamos aos nossos 
          clientes que respeitem o prazo determinado pelo contato de (05) dias 
          até que o nosso Cuidador se adapte a rotina de procedimentos junto ao 
          paciente, a rotina da casa e dos serviços, visto que as trocas 
          constantes sem uma prévia avaliação técnica do nosso coordenador, 
          não traz beneficio para o familiar, para a Fenix Cuidadores e tão 
          pouco para o idoso e seus familiares que confiou á nossa 
          responsabilidade. Nós entendemos que um relacionamento forte e 
          duradouro com o cuidador é vital para o bem estar do idoso.
        </p>
      </div>
      <div id="item-2">
        <h2 id="h2-2">Quais as atividades exercidas por um cuidador(a)?</h2>
      <p id="p2-1">
        Ajudar a promover a independência, estimular a auto suficiência da 
        pessoa idosa, por isto, a cuidador deverá, sempre que possível, fazer 
        com ela e não para ela.Facilitar e estimular a comunicação com a pessoa 
        idosa, conversando e ouvindo-a; acompanhando-a em seus passeios e 
        incentivando-a a realizar exercícios físicos, sempre que autorizados 
        pelos profissionais de saúde, e a participar de atividades de lazer.
        Desta forma, ajudará a sua inclusão social e a melhorar sua saúde.  
        Ajudar nos cuidados de higiene.  Ajudar e estimular a alimentação.  
        Administrar medicações, conforme prescrição médica e orientação da 
        equipe de saúde..  Outras situações que se fizerem necessárias para 
        a melhoria da qualidade de vida e recuperação da saúde dessa pessoa.
      </p>
      <p id="p2-2">
        Algumas outras áreas de atuações de um Cuidador de Idosos :
      </p>
      <li id="li-texto">Mal de Alzheimer;</li>
      <li id="li-texto">Mal de Parkinson;</li>
      <li id="li-texto">Sequelas de Doença.</li>
      <p id="p2-3">
                  Cardiovasculares ( AVC, Infarto, etc.… ).  – Fraturas e suas 
        consequências.  – Limitações físicas , motoras ou mentais.  – Senilidade 
        e suas demências.  – Diabetes e suas consequências.  – Utilização de 
        Sondas e Bolsas.  – Depressão.  – Ou qualquer patologia que for 
        necessário ou cuidados específicos  Um profissional experiente e 
        preparado poderá ser de grande ajuda e importância tanto para o 
        cuidado como para a família.  Vocês atendem em outros locais como 
        hospitais e hotéis ?  R: Os cuidadores da Fenix Cuidadores podem prestar 
        os cuidados onde quer que o cliente esteja, seja em casa, no hospital 
        numa clinica de repouso ou ate mesmo viajando para um resort ou 
        cruzeiro.
        </p>
      </div>
    </div>
    <br>
    <div id="item-3">
      <h2 id="h2-center">SERVIÇOS E TELEFONES ÚTEIS</h2>
        <li id="li-texto-center">Agência Nacional de Saúde Suplementar (ANS): 
          0800-7019656</li>
        <li id="li-texto-center">Corpo de Bombeiros: Disque 193</li>
        <li id="li-texto-center">Denúncias de violência: Disque 100 (tecle 2 para
          denunciar)</li>
        <li id="li-texto-center">Disque saúde: Serviço gratuito. Funciona de
          segunda a sexta-feira (exceto feriados), das 7h às 22h.
          Disque 136</li>
        <li id="li-texto-center">SAMU: Disque 192</li>
        <li id="li-texto-center">Violência contra a mulher: Disque 180</li>
        <li id="li-texto-center">Site do Ministério da Saúde: http://portalms.saude.
          gov.br/</li>
    </div>
  </fieldset>
</body>
</HTMl>