<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8"/>
        <Title>Serviços</Title>
        <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/icone.ico"/>
        <link rel="stylesheet" type="text/css" href="../static/css/servicos.css"><!-- Conectando o HTML ao CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&family=Rubik:wght@400;800&display=swap" rel="stylesheet">
        <title>Landing Page</title>
    </head>
<body>

    <header>        
        <ul style="margin: auto; font-size: 25px;">
            <a href="/Templates/index.html"><li>Home</li></a>
            <a href="/Templates/Sobre.html"><li>Sobre nós</li></a>
            <a href="/Templates/Servicos.html"><li>Serviços</li></a>
            <a href="/Templates/perguntas.html"><li>Perguntas Frenquentes</li></a>
            <a href="/Templates/Cadastro.html"><li>Cadastro do Cuidador</li></a>
        </ul>
        
    </header>

    
        <h1>
            Musicoterapia para Idosos
        </h1>
        <div class="intro">

            <h3>
                 Utilizamos a Musicoterapia através da música e seus elementos, (som, ritmo, melodia e harmonia) por um Psicólogo Músico Terapeuta qualificado e Graduado, com os pacientes e familiares, num processo para facilitar e promover a comunicação, relação, aprendizagem, mobilização, expressão, organização e outros objetivos terapêuticos relevantes, no sentido de alcançar necessidades físicas, emocionais, mentais, sociais e cognitivas.
       
                   Através da  Musicoterapia desenvolvemos potenciais e restabelecemos funções do indivíduo para que ele/ela possa alcançar uma melhor integração interpessoal, e desta forma obter uma melhor qualidade de vida, pela prevenção, reabilitação ou tratamento.
                   
                   A Música provoca reações de vários tipos nas diversas áreas cognitivas e emocionais, onde a resposta a um estímulo musical se dá de forma motora e/ou de forma mental.
            </h3>   

        </div>
         
        

        <h1>
            Objetivos da Musicoterapia em relação ao Idoso
        </h1>

        <h3>
            <div class="resumo">
            
                <li> Através de atividades relacionadas à música como audição musical, canto, exploração de instrumentos, expressão corporal e artística, buscamos alcançar os seguintes objetivos:</li>
                
                <br>Resgate da memória
                <br>Orientação temporal e espacial
                <br>Melhora da autoestima e humor
                <br>Diminuição da ansiedade e agressividade
                <br>Estimulação motora e da linguagem
                <br>Resgate da identidade
                <br>Conscientização
                <br>Socialização
                <br>Gratificação e bem-estar

               
                
            
            </div>
        </h3>

</body>
</html>
