<!DOCTYPE html>
<HTML lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <Title>Sobre</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/sobre.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&family=Rubik:wght@400;800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <header>        
        <ul style="margin: auto; font-size: 25px;">
            <a href="/Templates/index.html"><li>Home</li></a>
            <a href="/Templates/Sobre.html"><li>Sobre nós</li></a>
            <a href="/Templates/Servicos.html"><li>Serviços</li></a>
            <a href="/Templates/perguntas.html"><li>Perguntas Frenquentes</li></a>
            <a href="/Templates/cadastro.html" id="inscreva-se-btn"><li>Cadastre-se</li></a>
        </ul>
        
    </header>

    
</body>

    <fieldset id="texto-sobre">
        <h1>
            Sobre nós
        </h1>
         
        <h3>
         <p>
            
            Com base em estudo de pesquisas e convivência com esse público, elaboramos um serviço de atendimento e atenção às pessoas da melhor idade em suas residências, que propicia mais alegria e comodidade, não pelo método tradicional, mas sim através de uma metodologia pioneira no mercado de assistência focada em integração social.
        
         De um modo geral, como Casas de Repouso e as Instituições de Longa Permanência de Idosos (ILPI) os isolam do contato social. Nossa cultura dita que os idosos já trabalharam, cuidaram de suas famílias e agora precisar descansar. Isso não é verdade. Eles abriram mão de muitas coisas boas da vida em prol de suas famílias e agora, além dos cuidados especiais de saúde, merecem praticar atividades prazerosas de lazer e cultura.
        
         A maioria dos Idosos sofre de carência de apoio dos familiares. Seus filhos e parentes não podem se ausentar no trabalho e tem suas famílias e compromissos. Por mais queiram, não tem condições de dar-lhes atenção e prestar-lhes os cuidados que merecem. E vem a interná-los em clinicas ou asilos. Privados do conforto seus lares e da companhia de seus entes queridos, muitos deles acabam perdendo a vontade de viver, uma questão que pode ser facilmente sanada, apenas oferecendo-lhes boa qualidade de vida.
        
         Com base nisso, criamos um plano de serviços de assistência aos idosos em sua residência, que conta com a experiência de profissionais transformados e comprometidos com o trato carinhoso aos idosos, sempre prontos a satisfazer todas as suas necessidades.
        </p>
        </h3>
    </fieldset>



</html>
    
